# Dependencias
node_modules/

# Variables de entorno / credenciales
.env
.env.local

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
*.swp

# Logs
*.log

# Compilados / build
dist/
build/
